**INTRODUCTION TO NUMPY**

![download.jpg]()

**What is NumPY?**

NumPy (Numerical Python) is a powerful Python library used for numerical computing. It provides support for large, multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on these arrays efficiently.

In [ ]:
# importing the numpy library
import numpy as np

In [ ]:
# creating a single dimensional numpy

# 1. array(): This is a method in numpy that is used in convertin a list to an array
names = ['Alex', 'Isaac', 'Christ', 'David', 'Praise', 'Ammar']

array_names = np.array(names)
# calling the array variable
array_names

array(['Alex', 'Isaac', 'Christ', 'David', 'Praise', 'Ammar'], dtype='<U6')

In [ ]:
credentials = ('12344', 'michaelani@gmail.com', 'mike')
array_credentials = np.array(credentials)
array_credentials

array(['12344', 'michaelani@gmail.com', 'mike'], dtype='<U20')

In [ ]:
# @title Default title text
# working with a two dimensional arrays
arr2D = np.array([[1, 2, 3], [4, 5, 6], [10, 20, 30]])
print(arr2D)

[[ 1  2  3]
 [ 4  5  6]
 [10 20 30]]

In [ ]:
# checking for number of dimensions in an  array
# 2. ndim
array1_dimension=array_names.ndim
print(array1_dimension)
print(array_credentials.ndim)
print(arr2D.ndim)

1
1
2

In [ ]:
# working with three dimensional array
arr3D = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print(arr3D)
arr3D.ndim

[[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

3

In [ ]:
# three dimensional array with no items
Array3_D= np.array([[[], [], [], []]])

In [ ]:
Array3_D.ndim

3

**HOW TO CHECK THE PROPERTIES OF A NUMPY ARRAY**

1. shape: This array property tells us how many rows and columns are in an array
2. ndim: This numpay array property tells us how many dimensions a particular numpy array is having
3. size: This property tells us the size of the array element
4. dtype: This tells us the data type of that array

In [ ]:
#1. shape
array_names
array_names.shape

(6,)

In [ ]:
arr2D.shape

(3, 3)

In [ ]:
arr2D

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 20, 30]])

In [ ]:
#2. ndim (Number of Dimension)
array_names.ndim
arr2D.ndim
Array3_D.ndim

3

In [ ]:
# 3. Size
array_names.size # works like the len()
arr2D.size
Array3_D.size

0

In [ ]:
array_names

array(['Alex', 'Isaac', 'Christ', 'David', 'Praise', 'Ammar'], dtype='<U6')

In [ ]:
# 4. dtype
array_names.dtype

dtype('<U6')

**OTHER NUMPY PROPERTIES**

In [ ]:
#1. shape
#2. ndim
#3. size
#4. dtype
#5. nbytes
#6. T

In [ ]:
# nbytes is numpy property for checking the memory that a particular numpy array occupies in your program
array_names.nbytes
arr2D.nbytes

72

In [ ]:
# Transpose (T)

In [ ]:
data = {'name': ['Ammar', 'Alex', 'David', 'Isaac1', 'Praise', 'Isaac2', 'Mr. Christ'],
        'Course': ['Data Science', 'Data Engineering', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Information System'],
        'state': ['Kaduna', 'Rivers', 'Abuja', 'Benue', 'Edo', 'Nasarawa', 'Edo']
       }

In [ ]:
import pandas as pd

In [ ]:
table = pd.DataFrame(data)

In [ ]:
table

         name              Course     state
0       Ammar        Data Science    Kaduna
1        Alex    Data Engineering    Rivers
2       David        Data Science     Abuja
3      Isaac1        Data Science     Benue
4      Praise        Data Science       Edo
5      Isaac2        Data Science  Nasarawa
6  Mr. Christ  Information System       Edo

In [ ]:
transpose = table.T
transpose

,0,1,2,3,4,5,6
name,Ammar,Alex,David,Isaac1,Praise,Isaac2,Mr. Christ
Course,Data Science,Data Engineering,Data Science,Data Science,Data Science,Data Science,Information System
state,Kaduna,Rivers,Abuja,Benue,Edo,Nasarawa,Edo

In [ ]:
transpose.shape

(3, 7)

**WORKING WITH NUMPY METHODS**
1. creating array of ones

In neural networks, initial weights are sometimes set to small values (e.g., 0.01) instead of zeros to avoid symmetry problems.

In [ ]:
# creating array of ones using the ones() method in numpy
array_of_ones =np.ones(100)
array_of_ones

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
# checking for the data type that the array of ones created is having
array_of_ones.dtype

dtype('float64')

In [ ]:
# creating array of ones using the ones() method in numpy with a specific data type
array_of_ones =np.ones(100, dtype=int)
array_of_ones

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
array_of_ones.dtype

dtype('int64')

In [ ]:
matrix = np.array([[2, 3, 4], [4, 5, 4], [3, 7, 8]])
ones = np.ones((3,3))

In [ ]:
result= matrix * ones
result

array([[2., 3., 4.],
       [4., 5., 4.],
       [3., 7., 8.]])

2. **Creating Array of Zeros**

In [ ]:
#zeros
array_of_zeros =np.zeros(100, dtype=int)
array_of_zeros

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
# creating 2 dimensional array of zeros
array_of_zeros =np.zeros((3,3), dtype=int)
array_of_zeros.shape

(3, 3)

In [ ]:
# using the array of zeros to m
matrix = np.array([[2, 3, 4], [4, 5, 4], [3, 7, 8]])
matrix * array_of_zeros

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

3. Creating a full array in numpy using the full() method

In [ ]:
# creating an array that contains only 7 with 5 rows and 5 columns
np.full((5, 5), 7)

array([[7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7],
       [7, 7, 7, 7, 7]])

4. **Eye method**: The np.eye() method creates a square matrix with 1s on the diagonal and 0s elsewhere. It is commonly used for identity matrices in linear algebra.

In [ ]:
np.eye(8)

array([[1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.]])

In [ ]:
np.eye(8, dtype = int)

array([[1, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 1]])

5. **reshape method**: The reshape method in NumPy changes the shape of an array without changing its data. It helps organize data in different dimensions for easier analysis or computation.

In [ ]:
# creating a numpy array with 12 items
numbers = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
numbers

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

pandas tutorial

In [ ]:
import pandas as pd
print(pd.__version__)

2.2.2

In [ ]:
# checking the dimension of the array
numbers.ndim

1

In [ ]:
# reshaping the numbers array to what

two_dimensional_array = numbers.reshape(6, 2)
two_dimensional_array

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [ ]:
names = [[[1, 2, 3, 4, 5], [6, 7, 8, 9,10], [11, 12, 13, 14, 15]]]
np.array(names).reshape(1, 15)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15]])

In [ ]:
num= [[1, 2, 3, 4,5, 6,7,8] ]
three_dimensional_array=np.array(num).reshape(2, 2,2)
three_dimensional_array.ndim

3

6. **flatten Method**: The flatten method in NumPy converts a multi-dimensional array into a one-dimensional array. It is useful for simplifying data for processing.

In [ ]:
one_dimension=three_dimensional_array.flatten()
one_dimension.ndim

1

7. **Linespace method**: The linspace method in NumPy creates an array of evenly spaced numbers between a start and stop value. It is useful for generating sequences.

In [ ]:
#
np.linspace(1, 10, 5)

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

8. **arange method**: The arange method in NumPy creates an array with a sequence of numbers at a specified interval. It works like Python's range() but returns an array.

In [ ]:
# creating numbers using the arange in numpy
np.arange(1, 201)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200])

In [ ]:
np.arange(2, 201, 2)

array([  2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,  26,
        28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,  52,
        54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,  78,
        80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102, 104,
       106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130,
       132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156,
       158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182,
       184, 186, 188, 190, 192, 194, 196, 198, 200])

9. **random.rand() method**: The np.random.rand() method generates an array of random numbers between 0 and 1 from a uniform distribution (each number has an equal chance of appearing).

In [ ]:
# creating a random values using  the random.rand() numpy method
np.random.rand(5)

array([0.66531291, 0.46680705, 0.41177861, 0.14298873, 0.54211469])

In [ ]:
# generating random floating point number with number of rows and columns
np.random.rand(2,3,4)

array([[[0.76441915, 0.91026421, 0.36841101, 0.99740043],
        [0.0313034 , 0.70078524, 0.53774804, 0.78051561],
        [0.81484213, 0.93739893, 0.79176008, 0.61137366]],

       [[0.41722557, 0.20831186, 0.53388473, 0.58498379],
        [0.23114966, 0.99855551, 0.97185591, 0.34495422],
        [0.99767569, 0.66170264, 0.90602426, 0.37832895]]])

In [ ]:
dim=[[]]
np.array(dim).ndim

2

10. **random.randint() method**: generates random whole numbers within a given range. You set the smallest and largest number (excluding the largest), and it creates single or multiple random numbers in array form.

In [ ]:
# generating a random integer number
np.random.randint(1, 900)

561

In [ ]:
# generating random values with a speicfic size
np.random.randint(1, 900, 100)

array([454, 431, 426,   6, 847, 108, 182, 862, 384, 458, 256, 296, 684,
       663, 883,  52, 222, 570, 391, 347, 711, 503, 198, 144, 192, 561,
       652, 437, 775, 274, 467, 617, 221, 324, 828, 392, 534, 471, 728,
       160, 254, 535,  40, 899, 271,  82, 106, 524, 618, 402, 395, 738,
       644,  62, 804, 675, 214, 274, 799, 868, 656, 857, 348, 745, 129,
       517, 431, 299, 544, 775, 592, 106, 550, 595, 785, 473,  23, 281,
       864, 589, 443,  56, 833, 743, 186, 645, 490, 487, 563, 516, 217,
       641, 502, 675, 815, 341, 157, 799, 803, 221])

In [ ]:
np.random.randint(1, 900, size=(6, 6, 2, 2))

array([[[[499, 887],
         [881,  80]],

        [[519, 360],
         [832, 179]],

        [[464, 303],
         [117, 759]],

        [[651, 786],
         [141, 616]],

        [[193, 317],
         [702, 861]],

        [[473, 334],
         [ 22, 317]]],


       [[[322, 722],
         [488, 423]],

        [[803, 404],
         [380, 807]],

        [[201, 822],
         [282, 401]],

        [[767, 357],
         [175, 109]],

        [[880, 180],
         [200, 587]],

        [[664,  15],
         [664, 357]]],


       [[[530, 370],
         [  8, 730]],

        [[425, 654],
         [123, 338]],

        [[423, 804],
         [849, 815]],

        [[482, 409],
         [794, 558]],

        [[899, 612],
         [351, 168]],

        [[ 76, 209],
         [352, 313]]],


       [[[633, 728],
         [441, 348]],

        [[246, 241],
         [449,  63]],

        [[ 87, 382],
         [603, 513]],

        [[550, 566],
         [ 83, 570]],

        [[ 57, 203],
         [265, 149]],

        [[634, 221],
         [ 43, 241]]],


       [[[304, 599],
         [272, 247]],

        [[392, 318],
         [876, 445]],

        [[ 21, 271],
         [604,  11]],

        [[619, 550],
         [669, 249]],

        [[840, 618],
         [756,  57]],

        [[345, 619],
         [753, 799]]],


       [[[607, 219],
         [425, 837]],

        [[492, 227],
         [142, 456]],

        [[208, 398],
         [435, 610]],

        [[668, 404],
         [621, 893]],

        [[316,  69],
         [554, 611]],

        [[875, 480],
         [426, 165]]]])

**MATHEMATICAL COMPUTATIONS WITH NUMPY**

**1. Statistical Computations**

In [ ]:
#A. Finding mean of ages using numpy
ages = [34, 45, 23, 25, 30, 32, 40, 50, 45]
arra_ages =np.array(ages)
average_age=np.mean(arra_ages)
print("The average age is :", average_age.round(0), "years old")

The average age is : 36.0 years old

In [ ]:
ages = [34, 45, 45, 23, 23, 25, 30, 32, 40, 50]
arra_ages =np.array(ages)
average_age=np.mean(arra_ages)
print("The average age is :", average_age.round(0) ,  "years")

The average age is : 35.0 years

In [ ]:
#B. Finding median using numpy

medianage=np.median([34, 45, 45, 23, 23, 25, 30, 32, 40, 50])
print(medianage)

33.0

In [ ]:
#C. Finding mode using numpy
from scipy import stats
mode = stats.mode(arra_ages)
print("The mode in the distribution is", mode[0], "and it occurs", mode[1] ,"times")

The mode in the distribution is 45 and it occurs 2 times

In [ ]:
#D. Finding standard deviation using numpy
std = np.std(ages)
rounded_std= std.round()
print(rounded_std)
int_std =int(rounded_std) # we are converting the result of the standard deviation to an integer value (9)
int_std

9.0

9

In [ ]:
type(std.round())

numpy.float64

In [ ]:
#E. Finding variance using numpy
np.var(ages)

np.float64(87.21)

**CLASS FUN >>>>>>>>>>>>>>>>> 3minutes**

Given a list of numbers, use NumPy to find the maximum and minimum values.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
array_num = np.array(numbers)
max = np.max(array_num)
min = np.min(array_num)
print(max)
print(min)

10
1

2. **Basic Math Operations**

In [ ]:
#A. performing addition with numpy
addition = np.add(70, 60)
np.add(addition, 67)

np.int64(197)

In [ ]:
num2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
np.add(numbers, num2)

num2 + numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num= np.array((num2, numbers))
np.concatenate(num)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10,  1,  2,  3,  4,  5,  6,  7,
        8,  9, 10])

In [ ]:
#B. performing subtraction with numpy

In [ ]:
#C. performing multiplication with numpy

In [ ]:
#D. performing Division with numpy

**CLASS FUN >>>>>>>>>>>>>>>>>>>>>>>>> 2 minutes**

Given an array of numbers, compute its variance and standard deviation using NumPy

**3.Power & Square Roots**

In [ ]:
#A. Finding square root with numpy

In [ ]:
#B. Finding the power of a particular number using numpy

In [ ]:
#C. Finding the cube root of a number using numpy

**CLASS FUN >>>>>>>>>>>>>>>>>>>>>>>>>>> 2minutes**
Given an unsorted array, use NumPy to sort it in ascending order

**4. Logarithms**

In [ ]:
#A. Finding the logarithms of a natural number using numpy

In [ ]:
#B. Finding the logarithms of a base number  using numpy

In [ ]:
def greetings(name):
  return "Good Morning"
greetings("Isaac")

'Good Morning'

In [ ]:
import pandas as pd
data = {'name': ['Ammar', 'Alex', 'David', 'Isaac1', 'Praise', 'Isaac2', 'Mr. Christ'],
        'Course': ['Data Science', 'Data Engineering', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Information System'],
        'state': ['Kaduna', 'Rivers', 'Abuja', 'Benue', 'Edo', 'Nasarawa', 'Edo']}

df = pd.DataFrame(data)
df

         name              Course     state
0       Ammar        Data Science    Kaduna
1        Alex    Data Engineering    Rivers
2       David        Data Science     Abuja
3      Isaac1        Data Science     Benue
4      Praise        Data Science       Edo
5      Isaac2        Data Science  Nasarawa
6  Mr. Christ  Information System       Edo

In [ ]:
transpose = df.T
transpose

,0,1,2,3,4,5,6
name,Ammar,Alex,David,Isaac1,Praise,Isaac2,Mr. Christ
Course,Data Science,Data Engineering,Data Science,Data Science,Data Science,Data Science,Information System
state,Kaduna,Rivers,Abuja,Benue,Edo,Nasarawa,Edo